.payslipHolder{
   width: 75%;
   margin-left: 40px;
   margin-top: 45px;
}

.MonthIndicator{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.StaffIndicator{
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    height: 110px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;

}
.TagIndicator{
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    height: 80px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    margin-bottom: 20px;

}

.NameHolder{
    margin-left: 80px;
}

.ImgHolder{
    margin-left: 60px;
}

.infoTags{
    background-color: plum;
    width: 110px;
    height: 60px;
    margin-left: 10px;
}
.TagIndicator{
    display: flex;
    flex-direction: row;
}

.infoTags{
    background-color: plum;
    width: 130px;
    height: 60px;
    margin-left: 15px;
}
.infoTags1{
    background-color: aquamarine;
    width: 130px;
    height: 60px;
    margin-left: 15px;
}
.infoTags2{
    background-color: darksalmon;
    width: 130px;
    height: 60px;
    margin-left: 15px;
}
.infoTags3{
    background-color: lightgreen;
    width: 130px;
    height: 60px;
    margin-left: 15px;
}

.paySlipPage{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 50px;
}

.PaySlipInfo{
    width: 49%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 10px;
    margin-right: 2%;
}

.info-holder2{
    width: 49%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 10px;
}

.mini-info{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 45px;
   
    
}