.sidebar-button {
  width: 200px;
  height: 48px;
  padding-top: 12px;
  margin-top: 12px;
  margin-bottom: 12px;
  background-color: white;
  text-align: left;
  font-size: 17px;
  color: rgb(0, 0, 0, 0.5);
  border: none;
  display: flex;
}

.dashboard_body {
  /* border: 1px solid grey; */
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 20px;

  /* height: 250px */
}

.overview_holder {
  display: flex;
  flex-direction: row;
}

.dashboard {
  width: 100%;
  margin-top: 80px;
}

.left_overview {
  width: 40%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.left_overview_component {
  width: 50%;
  /* border: 1px solid grey; */
  height: 100px;
  padding: 20px;
}

.hi1 {
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
}

.hi2 {
  border-bottom: 1px solid grey;
}

.hi3 {
  border-right: 1px solid grey;
}

.right_overview {
  border-left: 1px solid grey;
  padding: 40px;
  margin-left: 20px;
}

.txt-area {
  width: 100%;
}

.o-icon {
  /* position: relative;
  top: -4px; */
  color: white !important;
  font-size: 23px;
}

.page-head {
  margin-bottom: 60px;
  margin-top: 60px;
}

.side {
  display: flex;
  flex-direction: row;
  width: 100%;
}

/* .sidebar{
    width: 20%;
   
    
   
} */

.AdminFullPage {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: whitesmoke;
  height: 100vh;
}

.AdminFullPage2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: whitesmoke;
  height: 100vh;
}

.sidebar-container {
  width: 20%;
}

.outlet-contaner {
  width: 80% !important;
}

.attendTable {
  margin-top: 40px;
  width: 90% !important;
  margin-left: 5%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  background-color: white;
  padding-left: 5%;
  padding: 40px;
}

.table {
  width: 85%;
}

.admin-holder {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* background-color: rgb(212, 186, 238); */
  height: 697px;
  background-color: whitesmoke;
}

.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: -15px;
  top: 50px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.option:active {
  margin-left: 10px;
  background-color: red;
}

.option {
  /* border-bottom: 1px solid rgb(160, 160, 160); */
  width: 100%;
  line-height: 1;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  font-size: 15px;
  margin-top: 10px;
  /* padding-left: 10%; */
  /* padding-top: 10px; */
  border: none;
  background-color: #5d3fd3;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 15px;
}

.options {
  display: flex;
  flex-direction: column;
  line-height: 0.2;
}

.sidebar1 {
  width: 100%;
  background-color: #5d3fd3;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 10px;
  padding: 10px;
  overflow-x: hidden;
  height: 90vh;
  position: fixed;
  width: 250px;
  margin-left: 1% !important;
  margin-top: 3%;
  border-radius: 10px;
}

.user1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.user-icon {
  width: 50px;
  box-shadow: 0 0 0 3px black;
  border-radius: 50px;
  margin-top: 10px;
}

.logout-dropdown {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(153, 152, 152);
  position: relative;
  bottom: -10px;
  font-size: 16px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: -15px;
  top: 50px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.head1 {
  background-color: #1c0676;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.user-name {
  color: white;
  /* margin-left: 30px; */
}

.cardhold {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* margin-top: 80px; */
}

.slip {
  width: 230px;
  /* background-color: red; */
  margin-right: 30px;
  height: 130px;
  border-radius: 10px;
  padding: 20px;
  color: white;
  font-size: 17px;
  align-self: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.active {
  background-color: transparent;
}

.slip_hold {
  display: flex;
  flex-direction: row;
}

.content {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 13px;
  left: 20px;
}

.IconB {
  font-size: 70px;

  position: relative;
  top: -14px;
  left: 42px;
}

.slip1 {
  background-color: white;
}

.slip2 {
  background-color: rgb(232, 160, 191);
  background-image: linear-gradient(
    to right,
    rgb(232, 160, 191),
    rgb(237, 192, 211)
  );
}
.slip3 {
  background-color: rgb(252, 197, 192);
  background-image: linear-gradient(
    to right,
    rgb(232, 192, 192),
    rgb(228, 209, 209)
  );
}
.slip4 {
  background-color: rgb(255, 180, 180);
}

.tablee {
  display: flex;
  flex-direction: row;
}

.calendar-pos {
  /* position: relative;
  top: 70px;
  left: 75px; */
  height: 20px !important;
}

.react-calendar {
  border: 1px solid white !important;
}

.payrollTableHolder {
  background-color: white;
  width: 90% !important;
  margin-left: 5%;
  padding-left: 4%;
  height: 621px;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-top: 40px;
}

.datePickerHolder {
  display: flex;
  flex-direction: row;
  /* background-color: #5D3FD3; */
  width: 70%;
  justify-content: space-between;
}

.form-inputs {
  width: 300px;
  padding: 2px;
  border-radius: 7px;
}

.dashboard_card {
  width: 300px;
  height: 140px;
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 10px;
}

.card_icon {
  width: 40px;
  height: 40px;
  background-color: rgb(226, 226, 226);
  border-radius: 20px;
  border: 1px solid #1c0676;
}

.info_layer {
  margin-top: 10px;
}

.icon_layer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cardText {
  color: rgb(170, 170, 170);
  font-size: 13px;

  /* font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif; */
}

.cardText2 {
  font-size: 25px;

  /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}

.layer2{
  width: 91%;
  /* background-color: red; */
  height: 465px;
  margin-left: 3.5%;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  
}

.layer2-left{
  background-color: white;
  width: 63%;
  height: 465px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.layer2-right-top{
  position: relative;
  left: 50px;
  height: 200px !important;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
}

.layer2-right{
  display: flex;
  flex-direction: column;
  position: relative;
  left: -35px;
}

.layer2-right-bottom{
  background-color: white;
  height: 230px;
  position: relative;
  left: 50px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-top: 100px;
  border-radius: 5px;
}

.donut{
  margin-top: 25px;
  margin-left: 50px;
  /* padding-top: 15px; */
}

.calendar-container .react-calendar__tile {
 height: 27px;
  overflow-y: scroll; 
  padding: 10px;
  font-size: 10px !important;
  margin-top: 0 !important;
}


.react-calendar__month-view{
  margin-top: -10px;
}