.Header{
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
    box-shadow: 0 4px 1px -2px rgb(231, 231, 231);
 
}

.headerContent{
    display: flex;
    flex-direction: row;
    width: 220px;
    justify-content: space-between;
    margin-right: 10px;
    color: black;
    
}

.Banner{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.BannerImage{
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    
}

.PayrollText{
    width: 60%;
    height: 360px;
    background-color: #5d3fd3;
}

.bannerimage{
    width: 745px;
    height: 500px;
    
}

.founders{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 100px;
    
}

.aboutus-card {
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 333px;
    /* background-color: #ca971a; */
    background-color: #7c61e7;
    border-radius: 5px !important;
    align-items: center;
    padding: 63px 34px;
    /* gap: 129px; */
    margin-bottom: 50px;
  }
  .aboutus-text {
    width: 70%;
    color: #fff;
  }
  .aboutus-text h1 {
    font-size: 30px;
  }
  .aboutus-text p {
    font-size: 16px;
  }
  .aboutus-button button {
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #48b975;
    border: 0;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 150px;
    padding: 10px;
    margin-left: 50px;
  }

  .CardText{
    height: 400px;
    width: 300px;
    background-color: rgb(224, 223, 223);
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }

  .founderImg{
    width: 250px;
    height: 250px;
    border-radius: 125px;
    position: relative;
    top: 130px;
    left: 24px;
    border: 6px solid white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }

  .founderCardHolder{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 100px;
    position: relative;
    top: -50px;
  }

  .founderCard{
   
  }

  .founderName{
    padding-top: 150px;
    padding-left: 15px;
    padding-right: 15px;
  
  }

  .founder2{
    background-color: whitesmoke;
  }


  .slider_responsive{
    width: 200px !important;
  }

  .sliders{
    width: 1200px!important;
    /* background-color: red; */
    margin-left: 75px;
}

.photo_size{
    width: 350px;
    height: 220px;
    border-radius: 4px;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border: 5px solid rgb(226, 226, 226);
    
}

.center_desc-holder{
    text-align: center;
    margin-bottom: 50px;
    border: 3px solid white;
    margin: 9px;
    
   
}

.sliderTitle{
    text-align: center;
    margin-bottom: 50px;
}

.iconHolderF{
    display: flex;
    justify-content: space-around;
    background-color: rgb(182, 182, 182);
    width: 200px;
    margin-left: 50px;
    margin-top: 40px;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}


.footer {
    padding: 7px;
    width: 100%;
    background-color: #5d3fd3;
  }
  
  .child {
    width: 200px;
    margin: 0 auto;
    padding: 5px;
  }
  
  .finl_txt {
    text-align: center;
    background-color:#5d3fd3;
    font-size: 20px;
    color: #e6e6e6;
  }
  
  p {
    margin-bottom: 0px !important;
  }
  
  .footer {
    margin-top: 100px;
  }
  
  .footer_link-size {
    width: 25px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .adminBtns{
    background-color: white;
    border: 2px solid #5d3fd3;
    color: #5d3fd3;
    width: 100px;
    background-color: #5d3fd3;
    color: white;
    
  }


  .adminBtns:hover{
    background-color: #765cdb;
    color: white;
  }

  .btnHold{
   
  }