.tableWidth {
  width: 90% !important;
}

.columnWidth {
  width: 25%;
}

.columnWidth3 {
  width: 50% !important;
}

.employeeContentRow {
  margin-bottom: -16px;
}

.columnWidth2 {
  width: 33%;
}

.positionHold {
  background-color: white;
  margin-left: 2%;
  height: 90vh;
  /* height: 20px; */
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.positionTable {
  margin-left: 5%;
}

.TimeSetter {
  background-color: white;
  margin-left: 50px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  padding: 10px;
  width: 31%;
  display: flex;
  flex-direction: row;
}

.sidebar-button2 {
  width: 230px;
  height: 48px;
  padding-top: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
  align-items: center;
  text-align: left;
  font-size: 17px;
  color: white;
  border: none;
  display: flex;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.sidebar-button2:hover {
  color: white;
  font-size: 19px;
  transition: font-size 0.2s ease;
}

.active .sidebar-button2 {
  background-color: #a074d1;
  border-bottom-color: #6928b4;
  border-bottom-style: solid;
}

@media screen and (min-width: 1440px) {
  .positionHold {
    margin-left: -20px !important;
  }

  .AddEmployee2 {
    position: relative;
    right: 50px;
  }

  .payrollTableHolder {
    margin-left: 10px !important;
    margin-top: 60px !important;
    width: 100% !important;
    border: 0px !important;
  }

  .employeeHolder {
    margin-top: 60px !important;
    margin-left: -10px !important;
    width: 95% !important;
    border-radius: 0px;
    height: 90vh;
  }

  #TableCont {
    max-height: 500px !important;
  }

  .payslipHolder {
    width: 95% !important;
    margin-left: -22px !important;
    margin-top: 60px !important;
  }

  .MonthIndicator {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 40px !important;
    background-color: white;
  }

  .StaffIndicator {
    margin-bottom: 40px !important;
  }

  .TagIndicator {
    margin-bottom: 40px !important;
  }
  .user-settings-content {
    margin-left: 22px;
  }
}

@media screen and (min-width: 1920px) {
  .mainTable {
    background-color: red;
    position: absolute;
    right: 10px;
    /* right: 900px; */
  }
}

