.form-arr{
    width: 40%;
    padding:50px;
    /* margin-left:30%;
    margin-right:30%; */
    margin: auto;
    margin-top: 15%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;;
    border-radius: 10px;
    background-color:#F5F5F5
}


form{
    display: flex;
    flex-direction: column;


}

.field{
    width: 90%;
    margin-bottom: 20px;
    padding: 5px;
    border-right: 1px solid white;
    border-top: 1px solid #dcdcdc;
    border-left: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
}

.signin-btn{
   width:20%;
   background-color: #5D3FD3;
   border: 1px solid #5D3FD3;
   color:white;
   padding: 5px;
}

.icon-holder{
    border: 1px solid #dcdcdc;
    width: 10%;
    /* padding:5px; */
    height:36px;
    border-left: 1px solid white;
    
}

.field-holder{
    display: flex;
    flex-direction: row;
}

.icon-pos{
    margin-left:12px;
    margin-top:3px;
}

.login-logo{
    border:2px solid black;
    width:10%;
    height:130px;
    border-radius:50%;
    margin :auto;

}

.others{
    float: right;
    margin-right: 30px;
}

.header{
  width: 80%;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

.links{
   /* display: flex;
   justify-content: ; */
    
    
    

}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 1366px;
}

.link1{
  
    color: white;
    text-decoration: none !important;
    font-size: 20px;
    /* margin-left: 10px; */
    padding: 10px;
    
  
    
}

link1:active{
    background-color: white;
}

.link1:hover{
    background-color: white;
    color: #5D3FD3;
}

.nav{
    height: 200px;
    background-color: #5D3FD3;
}

.card1{
    width: 30%;
    height: 200px;
    background-color:greenyellow;
    margin-right: 5%;
    border-radius: 10px;
}
.card2{
    width: 30%;
    height: 200px;
    background-color: rgb(25, 250, 190);
    margin-right: 5%;
    border-radius: 10px;
}
.card3{
    width: 30%;
    height: 200px;
    background-color: greenyellow;
    border-radius: 10px;
}

.cards{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    position: relative;
    bottom: 50px;
}

.card-top{
    height: 180px;
}

.card-bottom{
    height: 20px;
    background-color: rgb(114, 114, 245);
    border-radius: 0 0 10px 10px;
}

.table-holder{
    /* position: relative;
    top: 70px;
    left: 54px; */
    margin-left: 50px;
    z-index: 0;

}

.table-holder1{
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    position: relative;
    top: 70px;
    left: 54px;

}


.attend-body{
    background-color: grey;
}





.btn1b{
    width: 80px;
    background-color: #5D3FD3;
    border: 1px solid #5D3FD3;
    padding: 8px;
}
.btn1{
    border-radius: 2px 0px 0px 2px;
    color: white;
}
.btn3{
    border-radius: 0px 2px 2px 0px;
    background-color: #ffffff;
    color: black;
    border: 1px solid gray;
    border-left:1px solid white ;
}
.btn2{
    background-color: #ffffff; 
    color: black;
    border: 1px solid gray;
    border-left:1px solid white ;
}
.btn2:hover{
    background-color: #5D3FD3;
    border: 1px solid #5D3FD3;
    color: white;
} 
.btn3:hover{
    background-color: #5D3FD3; 
    color: white;

}

.edit-btn{
    padding: 2px;
    border: 1px solid rgb(199, 199, 199);
}
Svg{
    margin-right: 10px;
    margin-left: 10px;
    
}
.del-btn{
    margin-left: 10px;
    border: 1px solid rgb(199, 199, 199) ;
}
.edit-btn{
    display: flex;
}
.btn-flex{
    display: flex;
}
.save-btn{
    background-color: #5D3FD3 !important;
    border: 1px solid #5D3FD3 !important;
}
.save-btn:hover{
    background-color: #8a73e4 !important;
}
.AddEmployee{
    float: right;
    margin-top: 10px;
    background-color: white;
    border: 1px solid rgb(205, 203, 203);
    margin-bottom: 10px;
}
.add-icon{
    color: black !important;
}
.del-confirm{
    background-color: #5D3FD3;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #5D3FD3;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    border-radius: 2px;
}
.del-confirm:hover{
    background-color: #8a73e4;
}
#btn-space{
    margin-top: 10px;
}

.Epage-body{
    background-color: rgb(246, 242, 242);
    height: 100% !important;
    padding-left: 5%;
    padding-right: 5%;
}

.image-holder{
    padding-top: 50px;
}

.info-holder{
    margin-top: 15px;
}

.info-style{
    font-weight: bolder;
}



.staff-left{
    width: 25%;
}

.Epage-body{
    display: flex;
    flex-direction: row;
}

.icon-pos2{
   
   
    color: black !important;
}

.table-holder2{
   
    height: 320px;
    
    
    

}


.staff-right{
    /* margin-left: %; */
    width: 70%;
}

.cardhold{
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    width: 100%;
}



/* .card-2{
    width: 50%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
  
}
.card-3{
    width: 40%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
} */

.card-font{
    font-size: 20px;
}

.vertical-holder{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.card-2{
    width: 100%;
    background-color: white;
    height: 265px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.card-3{
    width: 100%;
    background-color: white;
    height: 265px;
    margin-top: 20px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.emergency-style{
    color: rgb(224, 93, 93);
}

.pie-position{
    position: relative;
    top: 2000px !important;
}

.cardhold{
    margin-bottom: 10px;
}

.firstdesc{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.card-txtAlign{
    margin-left: 49px;
}

.absent{
    color: orange !important;
}

.late{
    color: red !important;
}

.cardtxt-space{
    line-height: 20px;
    font-weight: 300;
}

.edit-btn2{
    background-color: #5D3FD3;
    color: white;
    border: 1px solid #5D3FD3;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    border-radius: 2px;
}
